[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "Engine/vendor/assimp"]
	path = Engine/vendor/assimp
	url = https://github.com/assimp/assimp.git
